<table class='highscores table table-striped table-bordered table-condensed'>
	<thead>
		<tr>
			<th class='highscores__header-user'>User</th>
			<th class='highscores__header-logins'>Logins</th>
		</tr>
	</thead>
	<tbody>
		{{#each sortedHighscores as |user|}}
		<tr>
			<td>{{user.name}}</td>
			<td>{{user.logins}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
