<h2 id="title">Login game</h2>

{{#if session.isAuthenticated}}
	Logged in as {{session.user}}
	<button {{action 'logout'}}>Log out</button>
{{else}}
	Please {{#link-to 'login'}}log in{{/link-to}}
{{/if}}

{{outlet}}
